@import "../../core/scss/src/mixin/direction";
@import "../../core/scss/src/base";
@import "navbar-nav-item";
@import "navbar-option-item";
@import "~bootstrap-v4-rtl/scss/navbar";

@mixin k-navbar(
	$height: 60px,
	$padding: 1rem .65rem
) {
	.k-navbar {
		height: $height;
		padding: $padding;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&.scrolled-down {
			height: 60px;
			padding: 1rem $padding;
		}
	}

	.navbar-nav {
		flex-direction: row;
		padding-right: 0;

		&.scroll {
			overflow: auto;
			position: relative;

			&:after {
				content: "";
				position: sticky;
				right: 0;
				width: 40px;
				padding: 16px;
				background: linear-gradient(-90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
			}
		}
	}

	@include navbar-nav-item();
	@include navbar-option-item();
}
